<p>
  product-form works!
</p>

<form #f="ngForm" (ngSubmit)="save(f.value)">

  <div class="from-group">
    <label for="title">Titulo</label>
    <input #title="ngModel" ngModel name="title"  id="title" type="text" class="form-control" required>
    <div class="alert alert-danger"*ngIf="title.touched && title.invalid">
       Titulo es Requerido.
    </div>
  </div>

  <div class="from-group">
      <label for="price">Precio</label>  
        <div class="input-group-prepend">
          <span class="input-group-text">Q</span>        
          <input #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required>               
        </div>                 
        <div class="alert alert-danger " *ngIf="title.touched && title.invalid">
            Precio es Requerido.
          </div>
    </div>

    <div class="from-group">
        <label for="category">Categoria</label>
        <select #catergory="ngModel" ngModel name="category" id="category"  class="form-control" required>
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.$key" >
             {{ c.name }}
          </option>
        </select>
         <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
           Catergoria es Requerida
         </div>
      </div>


      <div class="from-group">
          <label for="imageUrl">URL de la Imagen</label>
          <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            URL es Requerida
          </div>
        </div>


        <button class="btn btn-primary">Guardar</button>
</form>