<p>
  admin-products works!
</p>

<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Ingresar Nuevo</a>
</p>

<p>
  <input
   #query
   (keyup)="filter(query.value)"
   type="text" class="form-control" placeholder="Buscar..." >
</p>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let p of filteredProducts">
          <th>{{ p.title }}</th>
          <th>{{ p.price }}</th>
          <th>
            <a [routerLink]="['/admin/products/', p.$key]">Edit</a>
          </th>
        </tr>
  </tbody>
</table>



